
body{
    background-color: #eaebe4;
    height: 100%;
}


h1,h3,h4{
    font-family:"EB Garamond";
}

a{
    font-size:15px !important;
}

section{
    padding: 50px;
}

footer{
    padding: 30px;
}

.mt{
    margin-top:10%;
}


/*MON FOOTER*/
/* .ft{ 
   

} */

/*section image */

.section{
    height: 50vh;
}
.figure-img {
    width:650px;
}